
<h1>List of Spooky Creatures</h1><br>

<% @creatures.each do | creature | %>
	
	<h4> <%= creature.name %> </h4>
	<p> <%= creature.id %> </p>
	<p> <%= creature.description %> </p>
	<%= button_to 'Delete', creature, method: :delete %><br>

<% end %>
