
<h1>Form for new monster submission</h1>

<%= form_for :creature, url: '/creatures', method: 'post' do | f | %>
		<%= f.text_field :name %>
		<%= f.text_area :description %>
		<%= f.submit 'Create the Monster!' %>
<% end %>